<%= render "shared/header" %>

<%= form_with model: [@message], url: user_room_messages_path(current_user.id, @room.id), local: true, class: "form" do |f| %>
<div class="form-input">
  <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
  <label class="form-image">
    <span class="image-file">画像</span>
    <%= f.file_field :image, class: 'hidden' %>
  </label>
</div>
<%= f.submit '送信', class: 'form-submit' %>
<% end %>
<br />
<% @messages.reverse_each do |message| %>
<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.nickname %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>
<% end %>
