<%= render "shared/header" %>

  <%= link_to(:プロフィール表示, '#プロフィール表示', id: "edit-btn") %>
  <div id="profile" style="display: none;">
    <%= "誕生日：#{@user.birthday}" %><br />
    血液型：
    <%= @user.blood_type[:data] unless @user.blood_type.blank? || @user.blood_type_id.zero? %>
    <br />
    <%= "プロフィール：#{@user.profile}" %><br />
    プロフィール画像：<br />
      <%= image_tag @user.image, class: "profile-img" if @user.image.attached? %>
    <br />
    <%= link_to(:編集, edit_user_path(@user.id))  %>
  </div><br />

  <%= link_to(:投稿, new_user_item_path(@user.id)) %>
  <%= "PV数：#{@user.impressions_count }"%>
  投稿一覧
    <%= form_with(url: '#', local: false) do |f| %>
      <%= f.collection_select(:genre_id, Genre.all, :id, :data, { prompt: 'フィルターなし' }, {class:"select-box-genre-sort", id:"item-genre-sort", :onchange => "this.id = \"item-genre-sort-\"+this.value"}) %>
    <% end %>
  ジャンル
  <div class="image-genre">
    <% @genre.each do |g| %>
      <div class="item-genre" id="item-genre-<%= g.genre_id %>" style="display: block;" >
        <%= Genre.data[g.genre_id][:data] %>
          <% @item_genre.each do |item_genre| %>
            <% if item_genre.genre_id == g.genre_id %>
              <div class="image_tag">
                <%= image_tag item_genre.item.image, class: "item-img" %>
                <%= item_genre.item.name %>
                <%= item_genre.item.comment %>
              </div>
            <% end %>
          <% end %>
      </div>
    <% end %>
  </div>
<%
=begin
%>


<%
=end
%>
