<%= render "shared/header" %>

<div class="container ft-15">
  <%= link_to('プロフィール表示[+]', 'javascript:void(0);', { id: "edit-btn" }) %>
  <div class="border border-dark m-1 p-1<%= ' d-flex' if @user.image.attached? %>" id="profile" style="display: none!important;">
    <% if @user.image.attached? %>
    <div class="me-2 d-flex flex-column">
      <div class="mx-auto">プロフィール画像</div>
      <div class="mx-auto"><%= image_tag @user.image, class: "profile-img" %></div>
    </div>
    <% end %>
    <div class="profile-column">
      <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to(:編集, edit_user_path(@user.id))  %><br />
      <% end %>
      <%= "誕生日：#{@user.birthday}" %><br />
      血液型：
      <%= @user.blood_type.data unless @user.blood_type.blank? || @user.blood_type_id.zero? %>
      <br />
      <%= "プロフィール：#{@user.profile}" %><br />
    </div>
  </div>

  <% if user_signed_in? && current_user.id == @user.id %>
  <div class="post">
    <%= link_to(:投稿, new_user_item_path(@user.id)) %>
  </div>
  <% end %>

  <div class="PV-count">
    <%= "PV数：#{@user.impressions_count+1}"%>
  </div>
  <div class="images">
    投稿一覧<br />
    ジャンル
    <div class="select">
      <%= collection_select(:genre, :id, Genre.all, :id, :data, { prompt: 'フィルターなし' }, { class: "select-box-genre-sort", id: "item-genre-sort", onchange: "this.id = \"item-genre-sort-\"+this.value"}) %>
    </div>

    <div class="image-genre">
      <% @genres.each do |genreMT| %>
      <div class="item-genre" id="item-genre-<%= genreMT.genre.id %>" style="display: block;">
        <div class="genre"><%= genreMT.genre.data %></div>
        <div class="genre-images d-flex">
          <% @item_genre.each do |item_genre| %>
          <% if item_genre.genre_id == genreMT.genre.id %>
          <% if !current_user.nil? && item_genre.user_id == current_user.id %>
          <div class="image_tag p-1">
            <%= link_to edit_user_item_path(item_genre.user_id, item_genre.item_id) do %>
            <%= image_tag(item_genre.item.image, class: "item-img") if item_genre.item.image.attached? %>
            <% end %>
          </div>
          <% else %>
          <%= link_to user_item_path(item_genre.user_id, item_genre.item_id) do %>
          <div class="image_tag">
            <%= image_tag(item_genre.item.image, class: "item-img") if item_genre.item.image.attached? %>
          </div>
          <% end %>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
