<%= render "shared/header" %>

<%= link_to(:プロフィール表示, 'javascript:void(0);', { id: "edit-btn" }) %>
<div id="profile" style="display: none;">
  <%= "誕生日：#{@user.birthday}" %><br />
  血液型：
  <%= @user.blood_type.data unless @user.blood_type.blank? || @user.blood_type_id.zero? %>
  <br />
  <%= "プロフィール：#{@user.profile}" %><br />
  プロフィール画像：<br />
  <%= image_tag @user.image, class: "profile-img" if @user.image.attached? %>
  <br />
  <% if user_signed_in? && current_user.id == @user.id %>
  <%= link_to(:編集, edit_user_path(@user.id))  %>
  <% end %>
</div><br />

<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to(:投稿, new_user_item_path(@user.id)) %><br />
<% end %>

<%= "PV数：#{@user.impressions_count }"%>
投稿一覧
<%= form_with(url: '#', local: false) do |f| %>
<%= f.collection_select(:genre_id, Genre.all, :id, :data, { prompt: 'フィルターなし' }, { class: "select-box-genre-sort", id: "item-genre-sort", onchange: "this.id = \"item-genre-sort-\"+this.value"}) %>
<% end %>
ジャンル
<div class="image-genre">
  <% @genres.each do |genreMT| %>
  <div class="item-genre" id="item-genre-<%= genreMT.genre.id %>" style="display: block;">
    <%= genreMT.genre.data %>
    <% @item_genre.each do |item_genre| %>
    <% if item_genre.genre_id == genreMT.genre.id %>
    <% if !current_user.nil? && item_genre.user_id == current_user.id %>
    <%= link_to edit_user_item_path(item_genre.user_id, item_genre.item_id) do %>
    <div class="image_tag">
      <%= image_tag(item_genre.item.image, class: "item-img") if item_genre.item.image.attached? %>
    </div>
    <% end %>
    <% else %>
    <%= link_to user_item_path(item_genre.user_id, item_genre.item_id) do %>
    <div class="image_tag">
      <%= image_tag(item_genre.item.image, class: "item-img") if item_genre.item.image.attached? %>
    </div>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
