<%= render "shared/header" %>

<h1>Users#show</h1>
<%= link_to(:プロフィール表示, '#プロフィール表示', id: "edit-btn") %>
<div id="prorile" style="display: none;">
  <%= @user.birthday %><br />
  <%= @user.blood_type_id %><br />
  <%= @user.prorile %><br />
  <% if @user.image.attached? %>
    <%#= image_tag @user.image %><br />
  <% end %>
</div>
<%= @user.impressions_count %>
<p>Find me in app/views/users/show.html.erb</p>
