<header>
      <% if user_signed_in? %>
      <li>
      <% unless controller.action_name == 'show' %>
        <%= link_to current_user.nickname, user_path(current_user.id) %>
      <%# elsif @user.defined? %>
        <%#= link_to :編集, edit_user_path(current_user.id) %>
      <% end %>
      </li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %> </li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to '新規登録', new_user_registration_path %></li>
      <% end %><br />
      <%= controller.controller_name %>
      <%= controller.action_name %>
</header>
