<%= render "shared/header" %>

<%#= form_with(model: @permit_image, url: check_user_permits_path(current_user.id), method: :post, local: true) do |f| %>
<%= form_with(url: check_user_permits_path(current_user.id), method: :post, local: true) do |f| %>

<div class="permit-images">
  <% @smple_imgs.each_with_index do |s, num| %>
  <div class="permit-checkbox-<%= num %>">
    <% s[1].each do |i| %>
    <div class="checkbox-image">
      <label>
        <% if i.is_a?(Integer) %>
        <%= check_box :checkbox, :ids, {multiple: true, name: 'check_ids[]', class: 'image-check-box'}, i, false %>
        <%= image_tag asset_path("genre/#{s[0]}/#{i}"), class: "parmit-image" %>
        <% else %>
        <%= f.check_box :ids, {multiple: true, name: 'check_ids[]', class: 'image-check-box'}, 0, false %>
        <%= image_tag(i, class: "parmit-image") %>
        <% end %>
      </label>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<br />
<%= f.submit "submit" %>
<% end %>
