<%= render "shared/header" %>

<% unless @select_items.nil? %>
<div class="select">
  <% unless @genre.nil? %>
  <%= 'ジャンル:' %>
  <%= "#{@genre[:data]} 関連画像" %>
  <% else %>
  <%= 'タグ:' %>
  <%= "#{@tag.name} 関連画像" %>
  <% end %>
</div>

<div class="image-list">
  <% @select_items.each do |f| %>
  <div class="image">
    <%= image_tag(f.item.image, class: "item-img") if f.item.image.attached? %>
  </div>
  <% end %>
</div>
<% else %>
<%= 'アイテムなし' %>
<% end %>
