<%= render "shared/header" %>


<div class="title">
  <%= "タイトル：#{@item.name}" %>
</div><br />
<div class="genre">
  <%= "ジャンル："%>
  <%#= form_with(url: selects_path, method: :post, local: true) do |f| %>
  <%= form_with(url: select_items_path, method: :post, local: true) do |f| %>
  <%= f.hidden_field :select, value: :genre %>
  <%= f.hidden_field :genre_id, value: @item.item_genre_mts[0].genre_id %>
  <%= link_to(Genre.data[@item.item_genre_mts[0].genre_id][:data], 'javascript:void(0);', onclick: 'this.parentNode.submit()') %>
  <% end %><br />
</div><br />
<div class="tag-list">
  <%= "タグ:" %><br />
  <% @item.tags.each do |tag| %>
  <div class="tag">
    <%#= form_with(url: selects_path, method: :post, local: true) do |f| %>
    <%= form_with(url: select_items_path, method: :post, local: true) do |f| %>
    <%= f.hidden_field :select, value: :tag %>
    <%= f.hidden_field :tag_id, value: tag.id %>
    <%= link_to(tag.name, 'javascript:void(0);', onclick: 'this.parentNode.submit()') %>
    <% end %>
  </div>
  <% end %><br />
</div>
<div class="comment">
  <%= "コメント：#{@item.comment}" %><br />
</div>
<div class="PV">
  <%= "PV数：#{@item.impressions_count }"%><br />
</div>
<div class="image">
  <%= image_tag(@item.image) %>
</div>
