<%= render "shared/header" %>


<div class="title">
  <%= "タイトル：#{@item.name}" %>
</div><br />
<div class="genre">
  <%= "ジャンル："%>
  <%= link_to(@item.item_genre_mt.genre.data, selects_path(genre: @item.item_genre_mt.genre.data)) %>
</div><br />
<div class="tag-list">
  <%= "タグ:" %><br />
  <% @item.tags.each do |tag| %>
  <div class="tag">
    <%= link_to(tag.name, selects_path(tag: tag.name)) %>
  </div>
  <% end %><br />
</div>
<div class="comment">
  <%= "コメント：#{@item.comment}" %><br />
</div>
<div class="PV">
  <%= "PV数：#{@item.impressions_count }"%><br />
</div>
<div class="image">
  <%= image_tag(@item.image) %>
</div>
