<%= render "shared/header" %>

<div class="select">

  <% unless @genre.nil? %>
  <%= 'ジャンル:' %>
  <%= @genre %>
  <% else %>
  <%= 'タグ:' %>
  <%= @tag %>
  <% end %>
  <%= ':関連画像' %>

</div>
<div class="image-list">
  <% @select_items.each do |f| %>
  <div class="image">
    <%= image_tag(f.item.image, class: "item-img") %>
  </div>
  <% end %>
</div>
